

img{
    padding-top: 5px;
    max-width: fit-content;
}


.result{
    display: flex;
    flex-direction: row;

}
h1{
    grid-area: title;
}
body{
    height: 99vh;
    display: grid;
    grid-template-areas: "title  searchbar results"
                        "clickedCard searchbar  results"
                        "clickedCard searchbar results";
    grid-template-rows:100px 1fr 1fr;
    grid-template-columns: 1fr 1fr 2fr;
}  
#cardbox{
grid-area: clickedCard;
}
#searchstuff{
    grid-area: searchbar;
    position: sticky;
}
.search{
    display: flex;
    flex-direction: row;
}
#content {
    height: 40rem;
    grid-area: results;
    border: 1px solid black;
    background-color:lightgray;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    overflow: auto;
    gap: 5px;
    margin: 0 auto;
    margin-top: 1.75rem;
}
