
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

body{
    font-family: sans-serif;
    background-color: darkgray;
    font-size: 14pt;
}
.middle{
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
    width: fit-content;

}
main{
    background-color: lightblue;
    margin-left: auto;
    margin-right:auto;
    width:30vw;
    height: 100vh
}
#portrait{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    border:10px lightgray;
    border-style: solid;
}
#links{
    background-color: lightgrey;
    list-style: none;
    text-align: center;
    margin-top: -10px;
    border: 10px dashed darkgray;
}

h1, h2{
    text-align: center;

    font-family: 'Anton', sans-serif;
}
h1{
    font-size: 2rem;
}
#mainInfo{
    display: block;
    margin-left: 15px;
    margin-right: 15px;
    overflow: auto;

}
a:link {
    color: darkgreen;
  }
a:visited {
    color: darkgray;
  }
a:focus {
    color: darkgray;
} 
a:hover {
    text-decoration: darkred;
  }
a:active {
    text-decoration: darkslategrey;
}



 


