*{
    border:1px lightblue;
    border-style: solid;
}
body{
    font-family: 'Courier New', Courier, monospace;
    background-color: darkgray;
}
.middle{
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
    width: fit-content;
}
#portrait{
    display: block;
    margin: 0 auto;
}
#links{
    background-color: lightblue;
    margin-top: -10px;
    list-style: none;
    text-align: center;
}
h1{
    height: auto;

}
h2{
    box-sizing: border-box;
    text-align: center;
}


 


