
canvas
{
    display: block;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    width: 60%;
    height: 60;
    border: solid gray 10px;
}

body {
/*background-image: url("../images/Sunset/expanded.png");*/
background-color: lightgray;
}
