@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');


        main{
            border: 1px solid black;
            margin: 0 auto;
            background-color: #F0AC84ff;
            width: 80vw;
        }
        img.Side{
            float:right; margin: 0 12px;
            }
        #Head{
            position: relative;
            left: 20%;
            display: block;
            margin: 0, auto;

            }
        #source, #largePictureLink{
            padding-left: 40px;
            padding-bottom: 5px;
        }
        #burnt{
            border: 5px solid #342A79ff;
        }
        #bigPhoto{
            border: 5px solid #342A79ff;
        }
        blockquote { 
            background-color: lightgray;
            padding: 1rem;
            }
            h1 { 
                font-family: 'Anton', sans-serif;
                text-align: center;
                border-bottom: 1px solid blue;
                color:#261C69ff;    
                }  
        h2{
            font-family: 'Anton', sans-serif;
            color:#261C69ff;
            margin-left: 100px;
            }
        body{
            background-color: #595285ff;
            font-family: Arial, sans-serif;
            } 
        p{
            margin-left: 100px;
            }
        ul{
             margin-left: 100px;
            }
        .html{
            background-color: black;
        }
        #publishing{
            
            background-color: #595285ff;
        }


        a:link {
            color:#261C69ff;
          }
          
          a:visited {
            color: #595285ff;
          }
          
          a:hover {
            color: #595285ff;
          }
          
          a:active {
            color: #261C69ff;
          } 
            
