@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');


        img.Side{
            float:right; margin: 0 12px;
            }
        .Head{
                width: 700px;  
                height: auto; 
            }
        blockquote { 
            background-color: lightgray;
            padding: 1rem;
            }
            h1 { 
                font-family: 'Anton', sans-serif;
                text-align: center;
                border-bottom: 1px solid blue;      
                }  
        h2{
            font-family: 'Anton', sans-serif;
            color:blueviolet;
            margin-left: 100px;
            }
        body{
            background-color: lightblue;
            font-family: Arial, sans-serif;
            } 
        p{
            margin-left: 100px;
            }
        ul{
             margin-left: 100px;
            }

            
