@import url('https://fonts.googleapis.com/css2?family=Londrina+Outline&display=swap');

* {
    box-sizing: border-box;
}
p{
    font-family: Arial, Helvetica, sans-serif;
}
h1,h2,h3,#table{
    font-family: Arial, Helvetica, sans-serif;
}
img{
    max-width: 100%;
}

body{
    background-color: rgb(37, 31, 31);
}
@media screen and (min-width: 900px) {
    #wrapper{
        margin-top:2rem;
        display: grid;
        grid-template-areas: "introduction sidetop"
                             "largebox largebox"
                             "largebox largebox"
                             "smallboxes smallboxes";
        grid-template-columns: 2fr 1fr;
        grid-template-rows: auto 425px 1fr auto;
        max-width: 1200px;
        margin-left: auto;
        margin-right: auto;  
    }
  }


.side{
    background-color: lightgray;
    padding:25px;
}
#toprightcorner{
    grid-area: sidetop;
    background-color: black;
}
#toprightcorner h1{
    color: white;
    text-align: center;
    font-size: 4rem;
    margin-top: 50px;
}
#toprightcorner h2{
    color: white;
    text-align: center;
    font-size: 1rem;
    padding-top: 10px;
}
#introduction{
    grid-area: introduction;    
}
#introduction img{
    float:right;
    padding:1px;
    shape-outside: polygon(1% 100%, 1% 86%, 12% 80%, 21% 77%, 31% 72%, 36% 67%, 33% 59%, 31% 52%, 25% 42%, 25% 33%, 27% 19%, 35% 7%, 41% 3%, 49% 1%, 54% 2%, 59% 3%, 68% 7%, 71% 11%, 75% 18%, 76% 26%, 76% 33%, 77% 39%, 74% 46%, 73% 58%, 70% 66%, 68% 72%, 79% 75%, 92% 81%, 100% 88%, 99% 99%);
}

#introduction h2{
   font-size: 2rem;
   font-weight: 500;
}

#sidebar{
    position:sticky;
    top: 0;
    z-index: 1;
    background-color: grey;
}
#table{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;

    align-items: center;
}
#table li{
    width: 25%;
}

#table a{

    transition: transform 0.1s ease-in, background-color 0.5s linear;;
    display: block;
    padding: 10px;
    color: white;
    text-decoration: none;
}
#table a:hover {
    transform:scale(1.05);
	background: black;
	color: yellow;
}



.box h2{
    display: box;
    position: absolute;
    color: white;
}




#boxes{
    grid-area: smallboxes;
    display: grid;
    grid-template-areas: "topleft topright"
                        "bottomleft bottomright";

    grid-template-columns: 1fr 1fr;
    grid-template-rows:auto;
    max-height: auto;
    position: relative;
    margin:55px;
    margin-top:0px;
    margin-left: auto;
    margin-right: auto;
    grid-gap: 10px;
    
} 
.topLeftTitle{
    padding-left: 10px;
    padding-right:5px;
    padding-bottom: 5px;
}
.topLeftTitle h2{
    font-size: 2rem;
}

#topright{
    position: relative;
    
    grid-area: topright;
}
#topright .topLeftTitle{
    background-color: orange;
}

#topLeft{
    grid-area: topleft;
    position: relative;
}

#BottomRight{
    position: relative;
    grid-area:bottomright;
    background-image: url("../images/TestOfWills.png");
    height:700px;
}
#BottomRight .topLeftTitle{
    background-color: rgba(228,76,149,255);
}
#BottomLeft{
    grid-area: bottomleft;
    position: relative; 
}
#BottomLeft .topLeftTitle{
    background-color: rgba(22,132,130,255);
}
#topLeft .topLeftTitle{
    background-color: rgba(22,132,130,255);
}


             