@import url('https://fonts.googleapis.com/css2?family=Londrina+Outline&display=swap');

* {
    box-sizing: border-box;
}
p{
    font-family: Arial, Helvetica, sans-serif;
}
h1,h2,h3,#table{
    font-family: Arial, Helvetica, sans-serif;
}
img{
    max-width: 100%;
}

body{
    background-color: rgb(37, 31, 31);
}
#wrapper{
    margin-top:2rem;
    display: grid;
    grid-template-areas:  "sidetop"
                        "introduction"
                         "smallboxes"
                         "contact";
grid-template-rows: .74fr 1fr 7fr 1fr; 
}
@media screen and (min-width: 1000px) {
    #wrapper{
        margin-top:2rem;
        display: grid;
        grid-template-areas: "introduction sidetop"
                             "smallboxes smallboxes"
                             "contact contact";
        grid-template-columns: 2fr 1fr;
        grid-template-rows: auto auto 200px;
        max-width: 1200px;
        margin-left: auto;
        margin-right: auto;  
    }
  }


.side{
    background-color: darkgray;
    padding:25px;
}
#toprightcorner{
    grid-area: sidetop;
    background-color: darkgray;
    border: 10px solid lightgrey;
}
#toprightcorner h1{
    color: white;
    text-align: center;
    font-size: 4rem;
    margin-top: 50px;
}
#toprightcorner h2{
    color: white;
    text-align: center;
    font-size: 1rem;
    padding-top: 10px;
}
#introduction{
    grid-area: introduction;  
    border:10px solid lightgray;  
    border-right: 0px solid lightgray;
}
#introduction img{
    float:right;
    padding:1px;
    shape-outside: polygon(1% 100%, 1% 86%, 12% 80%, 21% 77%, 31% 72%, 36% 67%, 33% 59%, 31% 52%, 25% 42%, 25% 33%, 27% 19%, 35% 7%, 41% 3%, 49% 1%, 54% 2%, 59% 3%, 68% 7%, 71% 11%, 75% 18%, 76% 26%, 76% 33%, 77% 39%, 74% 46%, 73% 58%, 70% 66%, 68% 72%, 79% 75%, 92% 81%, 100% 88%, 99% 99%);
}

#introduction h2{
   font-size: 2rem;
   font-weight: 500;
}

#sidebar{
    position:sticky;
    top: 0;
    z-index: 1;
    background-color: grey;
    border: darkgray solid 5px;
    opacity: .75;
}
#table{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
#table li{
width:25%;

}

#table a{

    transition: transform 0.1s ease-in, background-color 0.5s linear;;
    display: block;
    padding: 10px;
    color: white;
    text-decoration: none;

}
#table a:hover {
    transform:scale(1.05);
	background: black;
	color: yellow;
}







/*Projects*/


#boxes{
    grid-area: smallboxes;
    display: grid;
    grid-template-areas: "topleft"
                        "topright"
                        "bottomleft"  
                        "bottomright";
    grid-template-rows: 1fr 1fr 1fr 1fr;
    margin-top: 10%;
    margin-bottom: 10%;
    margin-left: auto;
    margin-right: auto;
    grid-gap: 20px;    
}  
#FOWGAME{
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: darkgray solid 5px;
}


@media screen and (min-width: 1000px) {
    #boxes{
        grid-area: smallboxes;
        display: grid;
        grid-template-areas: "topleft topright"
                            "bottomleft bottomright";
    
        grid-template-columns: 1fr 1fr;
        grid-template-rows:620px auto;
        margin-top: 10%;
        margin-bottom: 10%;
        margin-left: auto;
        margin-right: auto;
        grid-gap: 20px;      
    } 
    #FOWGAME{
        display: block;
        margin-left: auto;
        margin-right: auto;
        border: darkgray solid 5px;
        max-width: 100%;
        max-height: 100%;
    }
}


/*project Boxes*/
.box{
    border:5px lightgray solid;
}

.box p{
    background-color: lightgrey;
    opacity: .8;
    margin: 10%;
    padding: 15px;
}



#topright{
    background-image: url("../images/TestOfWills.png");
    grid-area: topright;
}


#topLeft{
    background-image: url("../images/TestOfWills.png");
}

#BottomRight{
    grid-area:bottomright;
    background-image: url("../images/TestOfWills.png");
    height:700px;
}


#BottomLeft{
    grid-area: bottomleft;
    background-image: url("../images/TestOfWills.png");

}


/*Project Titles*/

.topLeftTitle h2{
    padding-top: 1rem;
    font-size: 2rem;
    text-align: center;
    color: white;
}

#BottomLeft .topLeftTitle{
    background-color: rgba(22,132,130,255);
    border-bottom: 5px solid lightgray;
}
#topLeft .topLeftTitle{
    background-color: rgba(22,132,130,255);
    border-bottom: 5px solid lightgray;
}
#BottomRight .topLeftTitle{
    background-color: rgba(228,76,149,255);
    border-bottom: 5px solid lightgray;
}
#topright .topLeftTitle{
    background-color: orange;
    border-bottom: 5px solid lightgray;
}


#contact{
    grid-area: contact;
    text-align: center;
    color: white;
    background-color: grey;
    border: 5px solid darkgrey;
}
#contact h2{
    font-size: 1.5rem;
    margin-top: 5px;
}
#contact #links{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 125px;
}

             