@import url('https://fonts.googleapis.com/css2?family=Londrina+Outline&display=swap');

* {
    box-sizing: border-box;
}

#wrapper{
    display: grid;
    grid-template-areas: "header sidetop"
                         "largebox introduction"
                         "largebox nav"
                         "smallboxes nav";
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 240px auto 300px auto;
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
    
}

.top{
    padding:40px;
    grid-area: header;
    display:flex;
    flex-direction: row;
}
#rightContent{
    display: flex;
    flex-direction: row;
}
#large56{
font-size:12rem;
text-align: left;
position: relative;
top:-12px;
font-family: 'Londrina Outline', cursive, sans-serif;
}

#largegreentxt{
text-align: left;
color: lightgreen;
font-weight: bold;
font-size: 3rem;
}
#middletxt{
    text-align: left;
color: black;
font-weight: bold;
font-size: 1.5rem;
}
#yellowtxt{
text-align: left;
color: orange;
font-weight: bold;
font-size: 1.75rem;
}
#ex{
    color:black;
    font-size: 2rem;
}
.line{
    border-left: 12px solid yellow;
    height:95px;
    margin-left: 5vw;
    padding-right: 10px;
    margin-top:30px;
    margin-bottom: auto;
}
#secondPTop p{
font-size:1.25rem;
align-items: center;
margin-top:25px;
margin-bottom: auto;
}



.side{
    background-color: lightgray;
    padding:25px;
}
#toprightcorner{
    grid-area: sidetop;
    background-color: black;
}
#toprightcorner h1{
    color: white;
    text-align: center;
    font-size: 4rem;
    margin-top: 15%;
}
#toprightcorner h2{
    color: white;
    text-align: center;
    font-size: 1rem;
    padding-top: 10px;
}
#introduction{
    grid-area: introduction;
}
#introduction img{
    float:right;
    padding:1px;
    shape-outside: polygon(1% 100%, 1% 86%, 12% 80%, 21% 77%, 31% 72%, 36% 67%, 33% 59%, 31% 52%, 25% 42%, 25% 33%, 27% 19%, 35% 7%, 41% 3%, 49% 1%, 54% 2%, 59% 3%, 68% 7%, 71% 11%, 75% 18%, 76% 26%, 76% 33%, 77% 39%, 74% 46%, 73% 58%, 70% 66%, 68% 72%, 79% 75%, 92% 81%, 100% 88%, 99% 99%);
}
hr{
    position: relative;
    top: 40px;
    height: 3px;
    background: black;
}
#introduction h2{
   font-size: 2rem;
   font-weight: 500;
}

#sidebar{
    grid-area: nav;
}
#table{
    display:flex;
    flex-direction: column;
    align-items: stretch;
}
#table li{
    height: 60px;
}
#table h3{
    font-size: 1.25rem;
    font-weight: bold;
    text-align: left;
}

.sub :hover{
    font-size: 1.5rem;
}

#large{
    
    border:1px black solid;
    grid-area: largebox;
}
#boxes{
    border:1px black solid;
    grid-area: smallboxes;
}

/*
#boxes{
    display: grid;
    grid-template-areas: "list topright"
                        "list   bottomright"
                         "bottomleft bottomright";
    grid-template-columns: 66% 1fr;
    grid-template-rows: 2fr 1fr 2fr;
    
} 
#topright{
    grid-area: topright;
    border:1px black solid;
}
#BottomRight{
    grid-area:bottomRight;
    border:1px black solid;
}
#BottomLeft{
    grid-area: bottomleft;
    border:1px black solid;
}
#listbox{
    grid-area: list;
    border:1px black solid;
}*/
             