* {
    box-sizing: border-box;
}

#wrapper{
    display: grid;
    grid-template-areas: "header sidetop"
                         "largebox introduction"
                         "largebox nav"
                         "smallboxes nav";
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 200px 600px auto 1000px;
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
    
}

.top{
    border:1px black solid;
    grid-area: header;
}
.side{
    background-color: lightgray;
}
#toprightcorner{
    grid-area: sidetop;
    background-color: black;
}
#toprightcorner h1{
    color: white;
    text-align: center;
    font-size: 4rem;
    margin-top: 15%;
}
#toprightcorner h2{
    color: white;
    text-align: center;
    font-size: 1rem;
    padding-top: 10px;
}
#introduction{
    border:1px black solid;
    grid-area: introduction;
    padding: 25px;
}
#introduction img{
    float:right;
    shape-outside: polygon(1% 100%, 1% 86%, 12% 80%, 21% 77%, 31% 72%, 36% 67%, 33% 59%, 31% 52%, 25% 42%, 25% 33%, 27% 19%, 35% 7%, 41% 3%, 49% 1%, 54% 2%, 59% 3%, 68% 7%, 71% 11%, 75% 18%, 76% 26%, 76% 33%, 77% 39%, 74% 46%, 73% 58%, 70% 66%, 68% 72%, 79% 75%, 92% 81%, 100% 88%, 99% 99%);
}
hr{
    margin-top:30px;
    margin-bottom:auto;
    height: 3px;
    background: black;
}
#introduction h2{
   font-size: 2rem;
   font-weight: 500;
}

#sidebar{
    border:1px black solid;
    grid-area: nav;
}
#large{
    
    border:1px black solid;
    grid-area: largebox;
}
#boxes{
    border:1px black solid;
    grid-area: smallboxes;
}

/*
#boxes{
    display: grid;
    grid-template-areas: "list topright"
                        "list   bottomright"
                         "bottomleft bottomright";
    grid-template-columns: 66% 1fr;
    grid-template-rows: 2fr 1fr 2fr;
    
} 
#topright{
    grid-area: topright;
    border:1px black solid;
}
#BottomRight{
    grid-area:bottomRight;
    border:1px black solid;
}
#BottomLeft{
    grid-area: bottomleft;
    border:1px black solid;
}
#listbox{
    grid-area: list;
    border:1px black solid;
}*/
             